.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #cacaca;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.footer {
  background: rgba(69, 0, 70, 0.8);
  opacity: 0.800000011920929;
  width: 1440px;
  height: 123px;
  position: absolute;
  left: 0px;
  top: 901px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.linkedin {
  display: flex;
  flex-direction: row;
  gap: 2.27px;
  align-items: center;
  justify-content: flex-start;
  width: 240px;
  height: 94px;
  position: absolute;
  left: 26px;
  top: 930px;
}
.icon-linkedin {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.asdsd {
  color: #ffffff;
  text-align: left;
  font: 500 32px "Inter", sans-serif;
  position: relative;
}
.frame-1 {
  width: 571px;
  height: 85px;
  position: absolute;
  left: 860px;
  top: 939px;
}
.header {
  background: rgba(69, 0, 70, 0.8);
  width: 1440px;
  height: 123px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.menu {
  position: absolute;
  inset: 0;
}
.competencias {
  width: 365px;
  height: 83px;
  position: static;
}
.rectangle-3 {
  border-radius: 0px;
  position: absolute;
  left: 1125px;
  top: 35px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.experiencia-profesional {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 1146px;
  top: 48px;
  width: 344px;
  height: 70px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.conocimientos {
  width: 260.16px;
  height: 62px;
  position: static;
}
.rectangle-32 {
  border-radius: 0px;
  position: absolute;
  left: 768px;
  top: 34px;
  overflow: visible;
}
.conocimientos2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 820px;
  top: 52px;
  width: 156.29px;
  height: 36px;
}
.rectangle-33 {
  border-radius: 0px;
  position: absolute;
  left: 768px;
  top: 34px;
  overflow: visible;
}
.objetivos {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 848px;
  top: 48px;
  width: 156.29px;
  height: 36px;
}
.estudios {
  width: 275px;
  height: 62px;
  position: static;
}
.rectangle-34 {
  border-radius: 0px;
  position: absolute;
  left: 425px;
  top: 35px;
  overflow: visible;
}
.estudios2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 504px;
  top: 53px;
  width: 87.31px;
  height: 28px;
}
.rectangle-35 {
  border-radius: 0px;
  position: absolute;
  left: 411px;
  top: 35px;
  overflow: visible;
}
.estudios-y-conocimientos {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 422px;
  top: 51px;
  width: 264px;
  height: 28px;
}
.datos-personales {
  width: 271px;
  height: 62px;
  position: static;
}
.rectangle-2 {
  border-radius: 0px;
  position: absolute;
  left: 56px;
  top: 34px;
  overflow: visible;
}
.sobre-mi {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 146px;
  top: 48px;
  width: 181px;
  height: 34px;
}
.informaci-n-datos {
  opacity: 0.800000011920929;
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: #ffffff;
  width: 879px;
  height: 468px;
  position: absolute;
  left: 280px;
  top: 298px;
}
.edad-20-a-os {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 319px;
  top: 548px;
}
.edad-20-a-os2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 319px;
  top: 495px;
}
.santiago-ariel-vicari {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 319px;
  top: 336px;
  width: 301px;
  height: 29px;
}
.edad-20-a-os3 {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 319px;
  top: 389px;
}
.caba {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 319px;
  top: 442px;
}
.img-1 {
  width: 403px;
  height: 468px;
  position: absolute;
  left: 756px;
  top: calc(50% - 214px);
}
.contacto {
  border-radius: 8.52px;
  border-style: solid;
  border-color: #cfd3d8;
  border-width: 0.71px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 261px;
  height: 123px;
  position: absolute;
  left: 319px;
  top: 589px;
}
.contacto2 {
  color: var(--gray-900, #101828);
  text-align: left;
  position: relative;
}
.contacto-2-span {
  color: var(--gray-900, #101828);
  font: 500 24px/159.8% "Inter", sans-serif;
}
.contacto-2-span2 {
  color: var(--gray-900, #101828);
  font: 500 10px/159.8% "Inter", sans-serif;
}
.contacto-2-span3 {
  color: var(--gray-900, #101828);
  font: 500 24px/159.8% "Inter", sans-serif;
}
.svicari-2004-gmail-com-54-9-11-6660-9674 {
  color: var(--gray-600, #475467);
  text-align: left;
  font: 400 24px/159.8% "Inter", sans-serif;
  position: relative;
  width: 319px;
}
.sobre-mi2 {
  color: #000000;
  text-align: left;
  font: 400 64px "Jomolhari", sans-serif;
  position: absolute;
  left: 548px;
  top: 158px;
  width: 495px;
  height: 100px;
}

.desktop-2,
.desktop-2 * {
  box-sizing: border-box;
}
.desktop-2 {
  background: #cacaca;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.image-1 {
  width: 1431px;
  height: 778px;
  position: absolute;
  left: 0px;
  top: 123px;
}
.footer {
  background: #450046;
  opacity: 0.800000011920929;
  width: 1440px;
  height: 123px;
  position: absolute;
  left: 0px;
  top: 901px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.linkedin {
  display: flex;
  flex-direction: row;
  gap: 2.27px;
  align-items: center;
  justify-content: flex-start;
  width: 240px;
  height: 94px;
  position: absolute;
  left: 26px;
  top: 930px;
}
.icon-linkedin {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.asdsd {
  color: #ffffff;
  text-align: left;
  font: 500 32px "Inter", sans-serif;
  position: relative;
}
.frame-1 {
  width: 571px;
  height: 85px;
  position: absolute;
  left: 860px;
  top: 939px;
}
.header {
  background: #450046;
  width: 1440px;
  height: 123px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.menu {
  position: absolute;
  inset: 0;
}
.competencias {
  width: 365px;
  height: 83px;
  position: static;
}
.rectangle-3 {
  border-radius: 0px;
  position: absolute;
  left: 1125px;
  top: 35px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.experiencia-profesional {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 1146px;
  top: 48px;
  width: 344px;
  height: 70px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.conocimientos {
  width: 260.16px;
  height: 62px;
  position: static;
}
.rectangle-32 {
  border-radius: 0px;
  position: absolute;
  left: 768px;
  top: 34px;
  overflow: visible;
}
.objetivos {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 848px;
  top: 48px;
  width: 156.29px;
  height: 36px;
}
.estudios {
  width: 275px;
  height: 62px;
  position: static;
}
.rectangle-33 {
  border-radius: 0px;
  position: absolute;
  left: 425px;
  top: 35px;
  overflow: visible;
}
.estudios-y-conocimientos {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 436px;
  top: 51px;
  width: 264px;
  height: 28px;
}
.datos-personales {
  width: 271px;
  height: 62px;
  position: static;
}
.rectangle-2 {
  border-radius: 0px;
  position: absolute;
  left: 56px;
  top: 34px;
  overflow: visible;
}
.sobre-mi {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 146px;
  top: 48px;
  width: 181px;
  height: 34px;
}
.informaci-n-datos {
  opacity: 0.800000011920929;
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: #ffffff;
  width: 879px;
  height: 468px;
  position: absolute;
  left: 280px;
  top: 298px;
}
._2017-2021-bachiller-en-econom-a-fasta-san-vicente-de-pa-l {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 338px;
  top: 340px;
  width: 793px;
  height: 82px;
}
.edad-20-a-os {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 338px;
  top: 399px;
  width: 618px;
  height: 133px;
}
.estudios-y-conocimientos2 {
  color: #000000;
  text-align: left;
  font: 400 64px "Jomolhari", sans-serif;
  position: absolute;
  left: 215px;
  top: 158px;
  width: 1039px;
  height: 100px;
}
.conocimientos-en-python-sql-y-power-bi {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 338px;
  top: 482px;
  width: 636px;
  height: 107px;
}
.ingl-s-nivel-medio-portugu-s-b-sico {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 338px;
  top: 558px;
  width: 569px;
  height: 80px;
}
.conocimientos-en-contabilidad {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 338px;
  top: 624px;
  width: 428px;
  height: 81px;
}

.desktop-3,
.desktop-3 * {
  box-sizing: border-box;
}
.desktop-3 {
  background: #cacaca;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.image-3 {
  width: 1431px;
  height: 778px;
  position: absolute;
  left: 0px;
  top: 123px;
}
.footer {
  background: rgba(69, 0, 70, 0.8);
  opacity: 0.800000011920929;
  width: 1440px;
  height: 123px;
  position: absolute;
  left: 0px;
  top: 901px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.linkedin {
  display: flex;
  flex-direction: row;
  gap: 2.27px;
  align-items: center;
  justify-content: flex-start;
  width: 240px;
  height: 94px;
  position: absolute;
  left: 26px;
  top: 930px;
}
.icon-linkedin {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.asdsd {
  color: #ffffff;
  text-align: left;
  font: 500 32px "Inter", sans-serif;
  position: relative;
}
.frame-1 {
  width: 571px;
  height: 85px;
  position: absolute;
  left: 860px;
  top: 939px;
}
.header {
  background: rgba(69, 0, 70, 0.8);
  width: 1440px;
  height: 123px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.menu {
  position: absolute;
  inset: 0;
}
.competencias {
  width: 365px;
  height: 83px;
  position: static;
}
.rectangle-3 {
  border-radius: 0px;
  position: absolute;
  left: 1125px;
  top: 35px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.experiencia-profesional {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 1146px;
  top: 48px;
  width: 344px;
  height: 70px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.conocimientos {
  width: 260.16px;
  height: 62px;
  position: static;
}
.rectangle-32 {
  border-radius: 0px;
  position: absolute;
  left: 768px;
  top: 34px;
  overflow: visible;
}
.conocimientos2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 820px;
  top: 52px;
  width: 156.29px;
  height: 36px;
}
.rectangle-33 {
  border-radius: 0px;
  position: absolute;
  left: 768px;
  top: 34px;
  overflow: visible;
}
.objetivos {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 848px;
  top: 48px;
  width: 156.29px;
  height: 36px;
}
.estudios {
  width: 275px;
  height: 62px;
  position: static;
}
.rectangle-34 {
  border-radius: 0px;
  position: absolute;
  left: 425px;
  top: 35px;
  overflow: visible;
}
.estudios2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 504px;
  top: 53px;
  width: 87.31px;
  height: 28px;
}
.rectangle-35 {
  border-radius: 0px;
  position: absolute;
  left: 411px;
  top: 35px;
  overflow: visible;
}
.estudios-y-conocimientos {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 422px;
  top: 51px;
  width: 264px;
  height: 28px;
}
.datos-personales {
  width: 271px;
  height: 62px;
  position: static;
}
.rectangle-2 {
  border-radius: 0px;
  position: absolute;
  left: 56px;
  top: 34px;
  overflow: visible;
}
.sobre-mi {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 146px;
  top: 48px;
  width: 181px;
  height: 34px;
}
.informaci-n-datos {
  opacity: 0.800000011920929;
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: #ffffff;
  width: 879px;
  height: 468px;
  position: absolute;
  left: 280px;
  top: 298px;
}
.edad-20-a-os {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 319px;
  top: 495px;
}
.progresar-tanto-en-el-ambito-profesional-como-el-personal {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 319px;
  top: 336px;
  width: 750px;
  height: 29px;
}
.edad-20-a-os2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 319px;
  top: 389px;
}
.aprender-nuevas-tecnolog-as-o-perfeccionar-las-conocidas {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 319px;
  top: 442px;
}
.objetivos2 {
  color: #000000;
  text-align: left;
  font: 400 64px "Jomolhari", sans-serif;
  position: absolute;
  left: 548px;
  top: 158px;
  width: 495px;
  height: 100px;
}

.desktop-4,
.desktop-4 * {
  box-sizing: border-box;
}
.desktop-4 {
  background: #cacaca;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.image-2 {
  width: 1431px;
  height: 778px;
  position: absolute;
  left: 0px;
  top: 123px;
}
.footer {
  background: rgba(69, 0, 70, 0.8);
  opacity: 0.800000011920929;
  width: 1440px;
  height: 123px;
  position: absolute;
  left: 0px;
  top: 901px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.linkedin {
  display: flex;
  flex-direction: row;
  gap: 2.27px;
  align-items: center;
  justify-content: flex-start;
  width: 240px;
  height: 94px;
  position: absolute;
  left: 26px;
  top: 930px;
}
.icon-linkedin {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.asdsd {
  color: #ffffff;
  text-align: left;
  font: 500 32px "Inter", sans-serif;
  position: relative;
}
.frame-1 {
  width: 571px;
  height: 85px;
  position: absolute;
  left: 860px;
  top: 939px;
}
.header {
  background: rgba(69, 0, 70, 0.8);
  width: 1440px;
  height: 123px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.menu {
  position: absolute;
  inset: 0;
}
.competencias {
  width: 365px;
  height: 83px;
  position: static;
}
.rectangle-3 {
  border-radius: 0px;
  position: absolute;
  left: 1125px;
  top: 35px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.experiencia-profesional {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 1146px;
  top: 48px;
  width: 344px;
  height: 70px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.conocimientos {
  width: 260.16px;
  height: 62px;
  position: static;
}
.rectangle-32 {
  border-radius: 0px;
  position: absolute;
  left: 768px;
  top: 34px;
  overflow: visible;
}
.conocimientos2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 820px;
  top: 52px;
  width: 156.29px;
  height: 36px;
}
.rectangle-33 {
  border-radius: 0px;
  position: absolute;
  left: 768px;
  top: 34px;
  overflow: visible;
}
.objetivos {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 848px;
  top: 48px;
  width: 156.29px;
  height: 36px;
}
.estudios {
  width: 275px;
  height: 62px;
  position: static;
}
.rectangle-34 {
  border-radius: 0px;
  position: absolute;
  left: 425px;
  top: 35px;
  overflow: visible;
}
.estudios2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 504px;
  top: 53px;
  width: 87.31px;
  height: 28px;
}
.rectangle-35 {
  border-radius: 0px;
  position: absolute;
  left: 411px;
  top: 35px;
  overflow: visible;
}
.estudios-y-conocimientos {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 422px;
  top: 51px;
  width: 264px;
  height: 28px;
}
.datos-personales {
  width: 271px;
  height: 62px;
  position: static;
}
.rectangle-2 {
  border-radius: 0px;
  position: absolute;
  left: 56px;
  top: 34px;
  overflow: visible;
}
.sobre-mi {
  color: #000000;
  text-align: left;
  font: 400 24px "Abel", sans-serif;
  position: absolute;
  left: 146px;
  top: 48px;
  width: 181px;
  height: 34px;
}
.informaci-n-datos {
  opacity: 0.800000011920929;
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: #ffffff;
  width: 879px;
  height: 468px;
  position: absolute;
  left: 280px;
  top: 298px;
}
.marzo-2022-abril-2023-tarjeta-tribu-qa-tester-capacitaci-n-de-clientes {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 319px;
  top: 336px;
  width: 795px;
  height: 153px;
}
.edad-20-a-os {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 319px;
  top: 647px;
}
.edad-20-a-os-span {
  color: #000000;
  font: 400 24px "Inter", sans-serif;
}
.edad-20-a-os-span2 {
  color: #000000;
  font: 400 24px "Inter", sans-serif;
}
.abril-2023-actualidad-accenture-bussines-analyst-jr-tax-reporting-relevamiento-de-cr-ditos-conciliaci-n-de-facturas {
  color: #000000;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 319px;
  top: 460px;
}
.experiencia-profesional2 {
  color: #000000;
  text-align: left;
  font: 400 64px "Jomolhari", sans-serif;
  position: absolute;
  left: 249px;
  top: 158px;
  width: 1182px;
  height: 100px;
}
